<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.simple">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--
      <uses-permission android:name="android.permission.VIBRATE" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
    -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />



    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".model.pgy.PypCheckUpdateActivity" /> <!-- 蒲公英 apiKey -->
        <!--
 <meta-data
             android:name="PGYER_API_KEY"
             android:value="d03390c7201e0692e17fcc6d955e6a68" />
         &lt;!&ndash; 蒲公英 appKey &ndash;&gt;
         <meta-data
             android:name="PGYER_APP_KEY"
             android:value="d03390c7201e0692e17fcc6d955e6a68" />
        -->
        <!-- Jar 包集成的方式 必填 -->
        <provider
            android:name="com.pgyersdk.PgyerProvider"
            android:authorities="${applicationId}.com.pgyer.provider"
            android:exported="false" />

        <meta-data
            android:name="PGYER_APPID"
            android:value="d03390c7201e0692e17fcc6d955e6a68c" />

        <activity android:name=".model.cehua.CehuaListviewActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ModifyStatusStytleActivity" />
        <activity android:name=".ui.PhoneConnectsActivity" />
        <activity android:name=".ui.CheckPremissActivity" />
        <activity android:name=".ui.DrawActivity" />
        <activity android:name=".ui.DialogActivity" />
        <activity android:name=".ui.DispatchTouchTestActivity" />
        <activity
            android:name=".ui.ImgTestActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.EvenBusTestActivity" />
        <activity
            android:name=".ui.QuestbankActivity"
            android:label="@string/title_activity_questbank"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.ScrollTabActivity" />
        <activity android:name=".ui.Coordinator.CoordinatorSimpleActivity" />
        <activity android:name=".ui.scaleView.ViewPagerSimpleActivity" />
        <activity
            android:name=".ui.PremissionTestActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.rctest.RecyleViewTestActivity" />
        <activity android:name=".model.smartrefreesh.SmartActivityActivity" />
        <activity android:name=".ui.looperviewpager.LooperViewpagerActivity" />
        <activity android:name=".model.datepick.DatePickerTestActivity" />
        <activity android:name=".model.photo.PhoneImgActivity" />
        <activity
            android:name=".model.photo.PhoneImgMainActivity"
            android:label="@string/title_activity_phone_img_main"
            android:theme="@style/AppTheme" />
        <activity android:name=".model.photo.PhotoViewpagerActivity" />
        <activity android:name=".ui.NotifyMsgActivity" />
        <activity android:name=".model.tablayout.TabLayoutTestActivity" />
        <activity android:name=".model.tablayout.TabLayoutTest1Activity" />
        <activity android:name=".ui.ServiceTestActivity" />
        <activity android:name=".model.fileselect.SelectFileActivity" />
        <activity android:name=".ui.PickerTimeTestActivity" />
        <activity android:name=".model.createimg.CreateImgActivity" />

        <!-- 解决android N不能安装apk -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.simple.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".model.dialogAnimation.Dialog3DActivity"/>
    </application>

</manifest>